/* 设置Gantt图表容器的最大宽度和高度，以限制图表的大小 */
#gantt_chart {
  max-width: 60%; /* 图表最大宽度为页面宽度的50% */
  max-height: 200px; /* 图表最大高度为300px */
}

body {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  height: 100vh; /* 使容器占满整个视口高度 */
  margin: 0; /* 去除默认的外边距 */
}